/* Reset CSS */

/* Box sizing border-box para todos los elementos */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Margin y padding cero para todos los elementos */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* Lista sin estilos y sin bullets */
ul,
ol {
    list-style: none;
}

/* Asegurar que los elementos anidados dentro de enlaces tengan un color predeterminado */
a {
    color: inherit;
    text-decoration: none;
}

/* Restablecer la visualización de las figuras en línea */
img,
iframe,
embed,
object,
video {
    display: inline-block;
    vertical-align: middle;
}

/* Restablecer la fuente de los elementos de formulario */
input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* Restablecer el espaciado entre elementos tipo lista */
ul,
ol,
dd {
    margin-left: 0;
}

/* Restablecer el estilo de bloque de los elementos de lista anidados dentro de enlaces */
li>ul,
li>ol {
    margin-left: 1em;
}

/* Restablecer el espaciado entre tablas */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Restablecer la apariencia predeterminada de los botones */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    appearance: button;
}